body {
    overflow: hidden;
    background-color: #f37329;
}

.box {
    width: 100%;
    height: 100vh;
    display: grid;
    align-content: center;
}

#numcount {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 40vw;
    color: #fff;
    text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.27);
}